    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is igKnight?</h2>
            <p class="intro text-center">The igKnight project is a scholarship competition designed to help students learn how to do research in life-sciences. This is an <strong>intense</strong> program lasting over a period of 3-4 months. The scholars will learn how to read research literature, write a research proposal and present their findings. After going through this program, we hope to train students to understand the connection between science and society, creatively solve problems and have an eye for the commercial impact of their work.</p>
            <div class="row">

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for students</h3>
                        <p>We want to train you intensely, which makes the competition a difficult exercise and lengthy endeavor. Even though the research problems are life-sciences oriented, you can be from any major and still compete. </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Every component of the program has been very carefully hand-picked and reviewed by students much like you. An assortment of free and short online-courses are being used to introduce you to the topics in the most efficient manner possible. </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Problem-centered</h3>
                        <p>This competition is based on <strong>six</strong> open-problems. It involves preparing yourself for researching, writing and presenting your understanding of these problems and their practical impact on millions of lives and the health-care system. </p>
                    </div><!--//content-->
                </div><!--//item-->

                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Campus-friendly</h3>
                        <p>We are taking full advantage of the all the resources that UCF offers to help the students accelerate and succeed in this competition. There is a massive ecosystem of resources that we have assembled in an easy to follow timeline for the students. </p>
                    </div><!--//content-->
                </div><!--//item-->                

                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to follow</h3>
                        <p>The competition has a lot of different components to it, but we have created a timeline to make it easy for the student to follow and keep up. This timeline also contains suggestions and a levels of "readiness" towards submission of the final proposal. </p>
                    </div><!--//content-->
                </div><!--//item-->
                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Batteries included</h3>
                        <p>This may all sound intimidating, but we have spent months on creating a guided-process to help the students each step of the way. </p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->