    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center"> <i class="fa fa-cogs"></i> Process</h2>

            <p> In this section, we are outlining the steps involved in this scholarship competition. Let's start with the requirements to participate in the igKnight Scholarship Competition</p>

            <div class="block">
                <h3 class="sub-title text-center">Eligibility</h3>

                <p>There are a two very simple requirements for eligibility. The first one is that you have to be a <strong>full-time</strong> UCF student. And the second one is that you have to be a <strong>sophomore or junior</strong>. The rest of this competition comes down to hard work.</p>

            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Pre-Phase 1</h3>

                <p>Throughout this program, we will be communicating with the scholars through email. We need to reach them so that they are keeping up with any updates or notifications. Therefore, it is crucial that you sign up to our <a href="http://eepurl.com/bBEd8r" target="_blank">mailing list</a> for updates. The first step in your igKnight journey is to sign up for the mailing list. </p>

            </div><!--//block-->
            
            <div class="block">
                <h3 class="sub-title text-center">Phase 1</h3>

                <p>This program is only open to second or third year students. We need to make sure that the people applying to this competition know this. <a href="https://docs.google.com/forms/d/1HEPPL4an6KR5kD-RL3Ymhs5gA4pe37eEnmkcDFFY6W4/viewform" target="_blank">Phase 1</a> is being used to collect basic information about candidates. After Phase-1 closes, during the screening period, we will select candidates to become part of igKnight as scholars if they meet selection criteria. There is only one criteria: <strong>Be a second year or early third year full-time student at UCF.</strong> </p>
            </div>    

            
            <div class="block">
                <h3 class="sub-title text-center">Phase 2 </h3>

                <p>After the candidates have been screened, they will be invited to start Phase 2. They will be emailed a password to access the Phase-2 document. This file will be the holy-grail of this competition: It contains everything from instructions on how to proceed to details on exactly what you need to do throughout this program and submit your proposal. In addition to the <a href="https://medium.com/@igKnight/igknight-open-problems-e9e39e12f5f4">open problems</a>, this packet will be the two things that you will need for the next 3-4 months. The packet will contain almost everything you need for this competition, so read it <strong>very, very</strong> carefully. </p>
            </div>


            <div class="block">
                <h3 class="sub-title text-center">Post-Phase 2 </h3>

                <p>After the scholars have submitted their final proposals in accordance with the Phase-2 packet, it is time for them to get reviewed. We have a fair system of evaluation with the founding members involved in a pre-screening and a faculty committee involved in the final grading. The results and comments from the final committee will be made available to all the scholars. The scholars who have received positive feedback and recognition by the faculty will be invited for interview. This interview will allow the students to present their research to a panel comprised of a student committee and the founding members. Only after this long, arduous process, the winners of the scholarship will be decided. </p>
            </div>

            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>

                <p>The format of this scholarship competition in terms of a design process is similar to the way NIH creates new projects. The full process and design of this competition is much more intricate and detailed. In the spirit of promoting open-standards: We have open-sourced the entire process in a whitepaper for others to follow and help us improve.</p>

                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://medium.com/@igKnight/igknight-scholarship-whitepaper-8fadec65a017" target="_blank">More in Whitepaper</a>
                </p>
            </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
