<!-- ******FEATURES****** --> 
    <section id="features" class="features section">
<style type="text/css">
    element {
}
.docs-inner {
    padding: 30px;
    border-radius: 4px;
    margin: 0px auto;
    max-width: 800px;
    background: #FFF none repeat scroll 0% 0% padding-box;
}
* {
    box-sizing: border-box;
}

</style>
            <div class="container">
         <div class="docs-inner">
            <h2 class="title text-center"> <i class="fa fa-calendar"></i> Timeline</h2>

            <ul class="feature-list list-unstyled">
                <li> Beginning of semester, an info-session opens up the competition</li>
                <li> Deadline for signing up to the mailing list</li>
                <li> Phase 1 opens</li>
                <li> Phase 1 closes</li>
                <li> Phase 1 screening</li>
                <li> Phase 2 invites sent out</li>
                <li> Phase 2 proposal deadline</li>
                <li> Phase 2 invites for presentation</li>
                <li> Phase 2 screening</li>
                <li> Winners announced!</li>
            </ul>
         </div><!--//docs-inner-->
        </div><!--//container-->

    </section><!--//features-->

