<!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-left">
            <h2 class="title text-center">Timeline</h2>

            <ul class="feature-list list-unstyled" style="padding-left:20px">
                <li><i class="fa fa-caret-square-o-right"></i> Beginning of semester, an info-session opens up the competition</li>
                <li><i class="fa fa-caret-square-o-right"></i> Deadline for signing up to the mailing list</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 opens</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 closes</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 screening</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 invites sent out</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 proposal deadline</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 invites for presentation</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 screening</li>
                <li><i class="fa fa-caret-square-o-right"></i> Winners announced!</li>
            </ul>


            <div class="block">
                <h3 class="sub-title text-center">Phase 1</h3>

                <p>This program is only open to second or third year students. We need to make sure that the people applying to this competition know this. <a href="https://docs.google.com/forms/d/1HEPPL4an6KR5kD-RL3Ymhs5gA4pe37eEnmkcDFFY6W4/viewform" target="_blank">Phase 1</a> is being used to collect basic information about candidates. After Phase-1 closes, during the screening period, we will select candidates to become part of igKnight as scholars if they meet selection criteria. There is only one criteria: <strong>Be a second year or early third year full-time student at UCF.</strong> </p>
            </div>   

        </div><!--//container-->
    </section><!--//features-->
