<!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Timeline</h2>

            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-caret-square-o-right"></i> Beginning of semester, an info-session opens up the competition</li>
                <li><i class="fa fa-caret-square-o-right"></i> Deadline for signing up to the mailing list</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 opens</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 closes</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 1 screening</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 invites sent out</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 proposal deadline</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 invites for presentation</li>
                <li><i class="fa fa-caret-square-o-right"></i> Phase 2 screening</li>
                <li><i class="fa fa-caret-square-o-right"></i> Winners announced!</li>
            </ul>

        </div><!--//container-->


                        <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to Xiaoying, you can buy her a beer or coffee via the PayPal donate button below. :)</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                        <p> Testing this out </p>

                    </div><!--//speech-bubble-->

                </div><!--//cta-container-->
                
    </section><!--//features-->
