    <!-- ******LICENSE****** --> 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Contributors</h2>

                <div class="info">
                    <p>This program is entirely managed by students who are split up in organized committees. This project definitely would not have been possible without the help of several committees that worked together. </p>

                    <p><strong>[Committees]:</strong> The rationale between divinding work amongst committees is similar to how the NIH starts new initiatives. The Director of the NIH reaches out to the Advisory Committee to the Director, and assigns them the task of drafting the initial version of the initiative, which then gets reviewed and discussed thoroughly. After the review, the proposal gets presented to the Director and eventually approved. In our program, we have the founding members overseeing the general body which is comprised of the Student Approval Committee (SAC) and an independent faculty review committee. </p>
                </div><!--//info-->

                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">We wish you the best of luck in the competition. The key to success in this competition is simply work hard.</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                        <i class="fa fa-desktop fa-4x"></i>

                    </div><!--//speech-bubble-->

                </div><!--//cta-container-->


            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
