    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ig<span class="highlight">Knight</span></h2>
            <p class="intro">A scholarship competition for the research oriented</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="https://docs.google.com/forms/d/1HEPPL4an6KR5kD-RL3Ymhs5gA4pe37eEnmkcDFFY6W4/viewform" target="_blank"><i class="fa fa-fire"></i> ignite Me!</a>
                <a class="btn btn-cta-secondary" href="#" target="_blank"><i class="fa fa-hourglass-start"></i>
Phase 2</a>
            <br> </br>

            <a class="btn btn-cta-primary" href="http://eepurl.com/bBEd8r" target="_blank"><i class="fa fa-envelope-o"></i> Subscribe for updates</a> 

            </div>

            <ul class="meta list-inline">
                <li><a href="http://www.evernote.com/l/Acs1lKjU63VGZ6qdSXnZwiMQVl91VCzaNzY/" target="_blank" style="color:rgb(236,236,236)"><i class="fa fa-check-square-o"></i> View deadlines</a></li>
                <li><a href="https://github.com/igknight/igknight.github.io/issues" target="_blank" style="color:rgb(236,236,236)"><i class="fa fa-commenting"></i> Provide suggestions</a></li>
                <li><a href="https://medium.com/@igKnight/igknight-scholarship-whitepaper-8fadec65a017" target="_blank" style="color:rgb(236,236,236)"><i class="fa fa-file-text-o"></i> Full Documentation</li> </a>
            </ul><!--//meta-->

        </div><!--//container-->

    </section><!--//promo-->
