    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ig<span class="highlight">Knight</span></h2>
            <p class="intro">A scholarship competition for the research oriented</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="https://docs.google.com/forms/d/1HEPPL4an6KR5kD-RL3Ymhs5gA4pe37eEnmkcDFFY6W4/viewform" target="_blank"><i class="fa fa-television"></i> Start Here!</a>
                <a class="btn btn-cta-secondary" href="#" target="_blank"><i class="fa fa-hourglass-start"></i>
Phase 2</a>

            </div>

            <p> 
                <br> </br>
                <a class="btn btn-cta-primary" href="http://eepurl.com/bBEd8r" target="_blank"><i class="fa fa-envelope-o"></i> Subscribe for updates</a> 
            </p>

            <ul class="meta list-inline">
                <li><a href="#" target="_blank"><i class="fa fa-map-pin"></i> View eligibility</a></li>
                <li><a href="https://github.com/igknight/igknight.github.io/issues" target="_blank"><i class="fa fa-commenting"></i> Provide suggestions</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-sticky-note-o"></i> Full Documentation</li>
            </ul><!--//meta-->


        </div><!--//container-->
        
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    
                    <li class="twitter-follow"><a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false">Follow @3rdwave_themes</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->

                    <li class="facebook-like">
                         <div class="fb-like" data-href="http://themes.3rdwavemedia.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li><!--//facebook-like-->

                </ul>
            </div>
        </div>
    </section><!--//promo-->
